<form class="form-horizontal" name="addMovie" novalidate>
  <div class="control-group">
    <label class="control-label" for="inputTitle">Title</label>
    <div class="controls">
      <input type="text"
             id="inputTitle"
             name="title"
             required
             class="input-block-level"
             autofocus
             ng-model="movie.title">
        <span ng-show="addMovie.title.$dirty && addMovie.title.$invalid">This field is required</span>
    </div>
  </div>
    <div class="control-group">
        <label class="control-label" for="inputRelease">Release year</label>
        <div class="controls">
            <input    type="number"
                      id="inputRelease"
                      name="release"
                      required
                      ng-minlength="4"
                      ng-maxlength="4"
                      class="input-block-level"
                      ng-model="movie.release">
            <span ng-show="addMovie.release.$dirty && addMovie.release.$invalid">Four digits expected</span>
        </div>
    </div>
  <div class="control-group">
    <label class="control-label" for="inputDescription">Description</label>
    <div class="controls">
      <text-angular rows="5"
                id="inputDescription"
                name="description"
                class="input-block-level"
                ng-model="movie.description">
      </text-angular>
    </div>
  </div>
  <div class="form-actions">
    <button type="submit"
            ng-show="addMovie.$valid"
            class="btn btn-primary"
            ng-click="save(movie)">
      Save
    </button>
    <a href="/movies/{{movie.id}}" class="btn">Cancel</a>
  </div>
</form>
